@font-face {
    font-family: "Uber Move Medium";  src:
        url("//db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.eot");  src:
        url("//db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/7530190cfa46223bb3db0ba0ddde0d37.svg#Uber Move Medium") format("svg");
}

body{
    margin: 0;
    padding: 0;
}